{% extends 'admin/change_list.html' %}
{% load static %}

{% block object-tools %}
    <script type="text/javascript" src="{% static "3rdparty/js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "3rdparty/js/qurl.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            initButton();
            reloadWennZeitraumGewaehlt();
        });

        /**
         * Bei Filter mit Parameter 'zeitraum', wird die Seite erneut geladen um den Datum
         * Filter entsprechend korrekt zu übergeben mit 'datum__year' und 'datum__month'.
         */
        function reloadWennZeitraumGewaehlt() {
            if (getQueryParam("zeitraum") !== null) {
                var url = Qurl.create();
                var search = url.getSearch();
                var zeitraum = getQueryParam("zeitraum").split("-");
                var jahr = zeitraum[0];
                var monat = zeitraum[1];
                var href = "";
                href += "?datum__year=" + jahr + "&datum__month=" + monat;
                for (var i = 0; i < search.length; i++) {
                    var param = search[i];
                    if (startsWith(param, "datum")) {
                        continue;
                    }
                    href += "&" + param + "=" + getQueryParam(param);
                }
                if (getQueryParam("datum__year") !== jahr || getQueryParam("datum__month") != monat ||
                    getQueryParam("datum__day") !== null) {
                    window.location.href = href;
                }
            }
        }

        function initButton() {
            $('#report-button').on('click', function (e) {
                e.preventDefault();
                var href = "report/";
                href += '?datum__month=' + getQueryParam("datum__month");
                href += '&datum__year=' + getQueryParam("datum__year");
                href += '&datum__day=' + getQueryParam("datum__day");
                window.location.href = href;
            });
        }

    </script>
    <div>
        <ul class="object-tools" style="float:left; margin-top: -16px; margin-bottom: 5px">
            <li>
                <a id="report-button" href="#"
                   title="Erstellt einen Report über eindeutige Fahrten im gewählten Zeitraum oder wenn kein Zeitraum gewählt wurde im aktuellen Monat.">
                    Report erstellen
                </a>
            </li>
        </ul>
    </div>
    <br/>
    {{ block.super }}
{% endblock %}