{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block title %}Fahrtenliste | Report{% endblock %}

{% block branding %}
    <h1 id="site-name">Report eindeutige Fahrten</h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{{ data.fahrten_url }}">Fahrten</a>
    </div>
{% endblock %}




{% block content %}
    <style>

    </style>
    <script type="text/javascript" src="{% static "3rdparty/js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "3rdparty/js/qurl.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
        });

        function openPdfReport() {
            var pdfUrl = "\/fahrtenliste_main\/report_pdf\/Fahrtenliste.pdf";
            pdfUrl += '?datum__month=' + getQueryParam("datum__month");
            pdfUrl += '&datum__year=' + getQueryParam("datum__year");
            pdfUrl += '&datum__day=' + getQueryParam("datum__day");
            window.open(pdfUrl, "_blank");
        }

    </script>
     <h1 style="">{{ data.report_beschreibung }}</h1>
        <div id="content-main">
            <div style="display: flex; margin-top: 0px; padding-top: 0; margin-bottom: 10px">
                <ul class="object-tools" style="margin-top: -10px">
                    <li>
                        <a class="" id="pdf-report" href="#" onclick="openPdfReport();"
                           title="Report als PDF Dokument">PDF
                            anzeigen</a>
                    </li>
                </ul>
            </div>
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Adresse</th>
                    <th>Kunde</th>
                    <th>Entfernung (km)</th>
                </tr>
                {% for key, fahrten in data.eindeutige_fahrten.items %}
                    {% for fahrt in fahrten %}
                        <tr>
                            <td>{{ fahrt.datum }}</td>
                            <td>{{ fahrt.adresse }}</td>
                            <td>{{ fahrt.kunde }}</td>
                            <td>{{ fahrt.entfernung }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
            <h4 style="">Anzahl Rechnungen: {{ data.anzahl_fahrten }}</h4>
            <h4 style="">Anzahl Kunden: {{ data.anzahl_kunden }}</h4>
            <h4 style="">Anzahl eindeutige Adressen: {{ data.anzahl_adressen }}</h4>
            <h4 style="font-size: medium">Insgesamt gefahrene Strecke: {{ data.summe_entfernung }} km.</h4>
            <h4 style="font-size: medium">Entfernungspauschale: {{ data.summe_entfernung }} km
                * {{ data.kilometerpauschale_faktor }} EUR/km = {{ data.kilometerpauschale }} EUR </h4>
        </div>
{% endblock %}
